@import "tailwindcss";

#root {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@theme {
  --color-primary: #8E6E53;
  --color-secondary: #C69C72;
  --color-accent1: #433E3F;
  --color-accent2: #C0B7B1;
  --color-accent3: #7A7265;
}